[2020-10-21 17:48] NeonLightning opened #1 "slow boot times"
i've noticed when you open it there is a black screen for a while then reading the apps. so it takes some time to get into it. (btw i like it enough i'm using it with autoboot)

[2020-10-24 05:14] cy33hc commented on #1
@NeonLightning What version are you on?

[2020-10-24 13:31] NeonLightning commented on #1
i'm not sure i seem to recall i got it from homebrew database about 4 days ago i think

[2020-10-26 03:58] cy33hc commented on #1
Try get the lastest version and see if you still have same problem. I made some startup improvements in v1.5 and in v1.6.1, I had improvement startup by 0.3 sec at least.

[2020-10-30 11:50] NeonLightning commented on #1
seems to be better now. sorry i took so long i was hooked on a game lol

[2020-10-30 11:50] #1 closed

[2020-10-30 11:51] NeonLightning opened #2 "[Feature Request] support catagories lite"
I was wondering if it would be possible to add support for the psp plugin catagories lite? It uses subfolders in iso and game.

[2020-10-31 02:33] NeonLightning commented on #2
just realized it does scan in my cso's.

[2020-10-31 02:33] #2 closed

[2020-10-31 16:39] NeonLightning opened #3 "[Feature Request]scrolling instead of paging."
it's really difficult to properly page through side to side i find. is there any chance for a vertical scroll instead of paging?

[2020-11-02 01:59] cy33hc commented on #3
@NeonLightning Working on it. Should have something in a few days.

[2020-11-03 02:38] cy33hc commented on #3
@NeonLightning
Implemented in Release v1.9

[2020-11-03 02:38] #3 closed

[2020-11-04 21:40] metaColin opened #4 "ScummVM Support"
Loving the new launcher, but it'd be even better if it included my ScummVM titles.

Any chance of a ScummVM section being added?

[2020-11-05 10:23] cy33hc commented on #4
@metaColin This requires the developer of ScummVM to make changes in his app to allow booting of the emulator with parameter for a pre-selected game.

[2020-11-05 11:51] cy33hc commented on #4
@metaColin You'll need to convince ScummVM developers to support booting games from bubbles first. Somebody already requested. Maybe if there's more demand for it, then they might consider.

https://forums.scummvm.org/viewtopic.php?f=21&t=15205

[2020-11-06 17:18] NeonLightning opened #5 "[Feature Request]store psp settings"
would you be able to store per-game settings for psp games?

[2020-11-06 17:19] NeonLightning commented on #5
btw sorry to be so demanding. i just really see potential in this and as is i find it functional enough that I have it autoboot.

[2020-11-06 20:26] cy33hc commented on #5
@NeonLightning Yeah. This can be done. Not a lot of work.

[2020-11-06 22:05] NeonLightning commented on #5
yes that would be great.
what would be even better is if you could choose what plugins are enabled when you turn on plugins. i understand if that's not doable as i don't think abb is able to do that.

[2020-11-06 23:13] NeonLightning opened #6 "crashes while scanning psp homebrew."
is there logging anywhere in this? i'm encountering a crash as it scans in my psp homebrew. i'm not sure how to troubleshoot it other than repeatedly moving out each program and opening launcher to scan again.

[2020-11-07 04:27] cy33hc commented on #6
@NeonLightning Latest version allows you to add 1 PSP ISO/EBBOT at a time. You can add 1 add at a time without rescan all psp game to see which game have problem.

[2020-11-07 04:59] cy33hc commented on #5
@NeonLightning PSP booting depends on abb, so yeah not possible at the moment.

[2020-11-07 05:04] NeonLightning commented on #6
it was GeMP

[2020-11-07 05:40] cy33hc commented on #6
@NeonLightning Let me give it a try and see what's problem with that EBOOT.

[2020-11-07 05:46] cy33hc commented on #6
@NeonLightning It's missing the DISC_ID attribute in the param.sfo. I'll have to handle missing attributes.

[2020-11-07 06:09] cy33hc commented on #6
@NeonLightning Fix pushed. Will be part of next release

[2020-11-07 06:09] #6 closed

[2020-11-07 12:16] cy33hc commented on #5
Implemented in release 1.9.1

[2020-11-07 12:16] #5 closed

[2020-11-07 13:07] cy33hc commented on #4
@metaColin I have implemented some code changes in ScummVM to support bubbles and created a Pull Request to the ScummVM developer to include.
https://github.com/scummvm/scummvm/pull/2611

[2020-11-10 21:17] cy33hc commented on #4
@metaColin @nowhereman87 My PR to support booting ScummVM has being accepted. Once ScummVM team releases this I can then support adding ScummVM to my launcher.

https://github.com/scummvm/scummvm/pull/2616

[2020-11-10 21:44] nowhereman87 commented on #4
Wow this is awesome, now those classic DOS and Amiga games could be started just as single ports, amazing addition, thanks a lot.

[2020-11-10 23:16] metaColin commented on #4
cy33hc that is so amazing! You are a rockstar. I can't believe how quickly you managed to update not only your repo but also ScummVM's!!! Wow.

[2020-11-11 06:41] cy33hc commented on #4
Release in 2.0

[2020-11-11 06:41] #4 closed

[2020-11-16 14:16] ImMrShrike opened #7 "c1-2758-2 Error when opening Adrenaline Launcher"
Every time I try to open Adrenaline Launcher, i get  c1-2758-2 error

[2020-11-16 16:39] cy33hc commented on #7
@ImMrShrike
You need to install Adrenaline Bubble Booter plugin. You can get this plugin by installing "Adrenaline Bubble Manager" and launch it for first time to install it. After that you can remove "Adrenaline Bubble Manager".

https://github.com/ONElua/AdrenalineBubbleManager/releases

[2020-11-16 17:00] ImMrShrike commented on #7
I'm now getting "Could not load adrenaline kernel.skprx please reboot or use adrbubble booter installer", I tried to install other bubbles via "Adrenaline Bubble Manager" and they work fine.
I'm on PS TV with usbmc plugin, if it can help

[2020-11-16 17:12] ImMrShrike commented on #7
also, launching a psp game via vita launcher (not the ones I created the bubble) gives c1-2650-3

[2020-11-16 17:50] cy33hc commented on #7
@ImMrShrike What version of Adrenaline do you have, 6.61 or v7? Based on the version you need to install the proper Adrenaline Bubble Booter plugin.

[2020-11-16 20:00] cy33hc commented on #7
@ImMrShrike You might want to reinstall adrenaline and then install ABM again. See issue reported here.
https://github.com/ONElua/AdrenalineBubbleManager/issues/28

[2020-11-19 11:40] cy33hc commented on #7
@ImMrShrike Closing issue since this is more of an Adrenaline plugin setup mismatch issue.

[2020-11-19 11:40] #7 closed

[2020-11-29 14:11] Riccobene opened #8 "Adrenaline reboots when I launch psp compilation games"
Hi,

When I launch a psp compilation game via vita launcher (I've seen it with isos like Capcom classics reloaded, metal slug anthology, crazy taxi fare wars), and then I select a game from the compilation to start,  adrenaline reboors and I have to launch the game again, from Adrenaline this time! Then, the game starts well!
It's something that happens to anyone else?

Thank you to the developer

[2020-11-30 11:18] cy33hc commented on #8
@Riccobene Can you share a video of the problem.

[2020-11-30 21:39] Riccobene commented on #8
Sure!

Game 1

https://youtu.be/Q_KJSUU1Uss

Game 2

https://youtu.be/TWo-5_w3IPQ

Game 3

https://youtu.be/SUeikW2RBco

[2020-12-01 00:16] cy33hc commented on #8
@Riccobene For that issue, I believe some people mentions that you might need to change the driver to either march33 or np9660

[2020-12-01 00:37] Riccobene commented on #8
@cy33hc yes, it does work! Thanks again!

[2020-12-01 01:32] #8 closed

[2020-12-17 16:50] afdc98 opened #9 "The variable "icon_path" doesn't work if it's different from "rom_path""
My icons won't load if the "icon_path" set is different from the "rom_path" (I think those are their names) in the NES/SNES/GBA/GBC... categories. However, even if those variables are different, my icons load if they are placed in the folder in "rom_path", so it's like the "icon_path" variable doesn't work, and the app only takes into account the folder where the roms are placed.

I can post scree

[2020-12-17 18:01] cy33hc commented on #9
Uncheck the option "new icon method" from "Global" settings. That forces icons to be located where the ROM is located.

[2020-12-18 19:45] cy33hc commented on #9
@afdc98 Can you validate my responds. If I don't get feedback in couple of days. I'll close this issue.

[2020-12-20 23:30] afdc98 commented on #9
yes, it works with the new icon method disabled, thanks!

[2020-12-20 23:30] #9 closed

[2021-01-05 05:36] DnBass opened #10 "Problem with adrenaline"
Followed your video on how to boot to adrenaline from the launcher. When I click something to boot, it makes a splash of the game which hangs for two seconds then exits out the bubble. Adrenaline works if I boot into it, only have this issue when trying to boot from launcher.

[2021-01-06 11:42] #10 closed

[2021-01-19 04:03] gotbletu commented on #10
- did you solve this? the vita-launcher just start the adrenalinelauncher.vpk bubble but then kick me back out
- i tryed different driver options still, nothing works
- the games works fine if i open from Adrenaline directly
- i installed all the requirement i believe
https://github.com/cy33hc/vita-launcher/releases/download/v2.4/AdrenalineLauncher.vpk
https://github.com/cy33hc/vita-launcher/relea

[2021-01-19 08:44] cy33hc commented on #10
@gotbletu What version of Adrenaline do you have? 6.9 or v7. You will have to use AdernalineBubbleManager 6.12 if you have older adrenaline 6.9.

[2021-01-19 21:28] gotbletu commented on #10
Got it Working now, thanks for the hint, think is because i had 2 Adrenaline version.
- older Adrenaline install on my ur0: on the PSTV
- newer Adrenaline v7 on my 2TB Hard Drive ux0: (via usbmc https://github.com/yifanlu/usbmc/releases/tag/v6)
- so i had to unplug the HDD, and just bootup the PSTV by itself without any memory card or hard drive and uninstall all the Bubble (Adrenaline, Vita-launc

[2021-01-24 15:44] TheRhysWyrill opened #11 "[Feature Request] Change Page With Button Press"
Would it be possible to change the page using a button press like L2/R2 if using controller (For PSTV users like myself etc) or the Left/Right side of the back touchpad on the Vita?

[2021-01-24 22:58] cy33hc commented on #11
You can already change pages with L1/R1. Works for both PSTV and Vita.

[2021-01-24 23:10] TheRhysWyrill commented on #11
That switches through the different tabs (Vita, PSP etc), what I meant is switching through the pages on say my Vita games with the press of a button instead of having to move the cursor to the edge of the displayed games to go up/down a page respectively.

[2021-01-24 23:15] cy33hc commented on #11
Oh. I get it.

[2021-01-24 23:17] TheRhysWyrill commented on #11
Yeah, sorry if I didn't word it all too well 😅 Would this be a possibility? Huge thanks for this launcher btw, being able to launch PSP games directly is so convenient!

[2021-01-24 23:23] cy33hc commented on #11
Yeah. That's possible.

[2021-01-31 00:49] cy33hc commented on #11
@TheRhysWyrill This is now partially implemented in Release 2.5 for using L2/R2 on PSTV. The back touch will come later, since it's a little harder to implement.

[2021-01-31 13:25] Invictaz opened #12 "Dreamcast core existence"
You said there is no Dreamcast core. But there is inside Flycast, it's called smc.bin
I have read reports that you can take it to the normal Retroarch and it will work. Please test it.

[2021-02-03 06:56] cy33hc commented on #12
@Invictaz Thx for the heads up.

[2021-02-07 23:09] #12 closed

[2021-02-18 16:01] DieKatzchen opened #13 "[Feature request] - Tagging based categories"
Not sure if it's possible with your current codebase, but would it be possible to have an item exist in multiple categories? That way I can have a e.g. "Puzzles" folder and a "Mario" folder and I can put "Mario Picross" in both folders?

[2021-02-19 20:20] rafaelferreira01 opened #14 "[Feature request] View Mode: List with cover"
It is possible to implement a view mode where we have the List view with the selected game cover on the right?
Thanks!

[2021-02-19 20:22] rafaelferreira01 opened #15 "Renamed folder keeps returning old name"
When i rename a folder, close vita-launcher and open it again the new name is replaced with the old one.

[2021-02-21 01:37] cy33hc commented on #15
After rename, you need select the "Save" button to apply permanently

[2021-02-21 01:43] cy33hc commented on #14
The purpose of "List View" was for people who preferred a view that is fast loading. If it start displaying the game cover that will slow it down again. So I'm going to reject this request. Sorry.

[2021-02-28 23:29] Boarlord opened #16 "Make this work for actual psp"
I would really love a version of this for the PSP. Do you think that would be doable?

[2021-03-02 01:04] cy33hc commented on #15
@rafaelferreira01 Closing since this is user issue.

[2021-03-02 01:04] #15 closed

[2021-03-02 01:05] #14 closed

[2021-03-02 01:08] cy33hc commented on #16
@Boarlord Sorry. Not interested to code for psp.

[2021-03-02 01:08] #16 closed

[2021-04-03 21:04] Caspearious opened #17 "[Feature Request] Open on Category List instead of Favorites"
Would it be possible to make an option that has it so that the list of Categories shows up when opening the launcher instead of defaulting to opening up in the Favorites category?

[2021-04-03 21:44] Caspearious opened #18 "[Feature Request] Genesis Category Tile"
I have attached two tiles (black background and transparent background) for Genesis that I found, out on the Internets if you would like to add them in the icons folder.  Perfect replacement to the M-Drive tile if one chooses.

Something to consider if possible in this code base, is to make all the category icons transparent and then allow for the background color to be changed for each category..

[2021-04-04 01:31] cy33hc commented on #18
@Caspearious Category icons are configurable. You can change the icon under the field "Category Icon" in the Settings Dialog. Make sure the icon size is 160x160 and png.

[2021-04-04 09:42] cy33hc commented on #18
@Caspearious I will close this request since icons are configurable and user can choose icons according to their liking.

[2021-04-04 09:42] #18 closed

[2021-04-10 22:59] cy33hc commented on #17
@Caspearious This is implemented in 2.9.1 release

[2021-04-10 22:59] #17 closed

[2021-05-21 16:07] mightysashiman opened #19 "PS1 scan stalls mid-course"
PS1 scan (be it the initial on-launch one or forcing rescan as an in-app action) will stall on some PS1 games (it did on Twisted metal 3, had to remove it for the scan to go past it, and is now stalling also at Croc - Legend of the Gobbos, and Croc 2, and Final Fantasy VII Retranslation).

Affected PS1 games run in adrenaline without any issues.

Let me know if I can help in anyway

[2021-05-29 11:52] ZachFett opened #20 "Adrenaline Launcher closes itself"
If I try to launch a PSP game through Vita Launcher, it switches to Adrenaline Launcher, opens for less than a second, and then closes. No errors.

I have Adrenaline Bubble Manager installed, and the latest version of Adrenaline (6.61 Adrenaline-7). I can run my games just fine through Adrenaline itself, or by creating an Adrenaline bubble. I've also tried disabling and enabling the option for plu

[2021-05-31 09:04] cy33hc commented on #20
@ZachFett Could you try different driver like m33 or np9660.

[2021-05-31 09:12] ZachFett commented on #20
@cy33hc Unfortunately I've tried that, as well as attempting combinations of the other options it gives when launching a PSP game, no luck. I've also tried re-installing Adrenaline Launcher specifically.

[2021-05-31 22:13] cy33hc commented on #20
@ZachFett Can you check if you have 2 installs of Adernaline. Another user had similar issues too becuz there were 2 installs of Adernaline on ux0 and ur0. Check if you have a tai config in both ux0 and ur0.

[2021-06-11 13:47] pet443 opened #21 "PSPemu multiple paths"
Is there a way to add multiple PSPemu paths?

Example: UX0 & UMA0

[2021-06-15 02:18] cy33hc commented on #21
@pet443 Sorry. At the moment you can only do either ux0 or uma0 not both at the same time.

[2021-08-21 22:30] cturczynskyj opened #22 "[Bug] Swap X/O buttons remembered but not used"
The settings menu seems to remember the "Swap X/O Buttons" setting (it shows properly in the settings menu) but when launching Vita Launcher, the launcher does not use this setting properly and you have to open the settings and scroll to "OK" once every time you start the launcher for the setting to take effect.

What I mean by "doesn't use this setting properly" is that you can't select anything

[2021-08-23 04:52] cy33hc commented on #22
I reproduced the issue. Will fix it soon.

[2021-08-24 06:56] cy33hc commented on #22
@cturczynskyj This is fixed in release 3.2 https://github.com/cy33hc/vita-launcher/releases/tag/v3.2

[2021-08-24 06:56] #22 closed

[2021-08-24 16:25] cturczynskyj commented on #20
I'm having the same issue. Only one Adrenaline installed on `ux0:app`. `ur0:app` is empty. Launching from Launcher starts Adrenaline Launcher which just goes back to the dashboard.

[2021-09-10 05:32] cy33hc commented on #19
@mightysashiman Fixed in release 9783c09e52a4e68d85a50cb3c3af4b9cb52e6602

[2021-09-10 05:33] #19 closed

[2021-09-22 20:48] cy33hc commented on #21
@pet443 This is now implemented in release v3.4. ux0:pspemu will always be scanned for games. You can config an "Alternate Pspemu Path" in global settings now.

[2021-09-22 20:48] #21 closed

[2021-11-20 16:33] f2pwn opened #24 "Sega"

[2021-11-20 16:33] #24 closed

[2021-11-20 16:34] f2pwn opened #25 "SEGA 32x ROMS do not launch."
Error C2-12828-1 happens every time a 32x ROM is tried to be launched with Vita Launcher.

[2021-11-22 07:02] cy33hc commented on #25
@f2pwn Are you missing the bios in the ux0:data/retroarch/system folder?

[2021-11-22 12:50] f2pwn commented on #25
No, as I can launch those roms from Retroarch.

If you can state full path for bios files, I can double check, but I'd say no.

[2021-11-23 01:08] cy33hc commented on #25
@f2pwn Found the issue. I had a trailing space at the end of the "core" path. Go into the 32x category and bring up the settings dialog. Under the "Category" tab, edit the "Retro Core:" field and remove the trailing space.

[2021-12-18 17:46] Majdoubi-Abdessamad commented on #7
bza3at

[2021-12-24 09:54] JohnGhostly opened #26 "Crash on launch after attempting to change background music"
I attempted to change the background music to an MP3 and the program crashed, afterwards it began to crash on statup. I tried reinstalling the program but the issue persists.
I am given the error code (c2-12828-1)

[2021-12-24 10:43] JohnGhostly opened #27 "bug: psx games keep loading duplicates"
for some reason psx games rescans games that are already added.

[2021-12-26 08:50] cy33hc commented on #26
@JohnGhostly Only OGG files are supported. Convert your mp3 to ogg format.

[2021-12-26 09:37] cy33hc commented on #27
@JohnGhostly This was fixed about a 2 months ago but I didn't have enough changes to create release. Anyway, fix is release in v3.5 now.

[2021-12-28 17:28] nj180grados opened #28 "[Feature request] - Add Manual Viewer Option to Vita-Launcher"
I consider it important to have this option, it is a fact that currently in the community there is already extensive work to customize the bubbles of the PSVita live area such as AdrenalineDocs. The best thing about this job is the possibility to consult the manuals and the documentation of the game or the guides.
My request is to add the possibility to consult the manual through Vita-Launcher.

[2022-01-24 18:19] dr3vvzy opened #29 "ROMS launching into RetroArch not the game"
I've installed my ROMS for Game Boy trying to get them to load through the VitaLauncher as opposed to having to go into retroarch. However when I click to load a ROM it merely loads me into RetroArch as opposed to starting correctly. Any idea what I can do to address this issue?

[2022-01-26 01:01] cy33hc commented on #29
@dr3vvzy You need RetroArch v1.9.1 or greater.

[2022-03-28 01:47] f2pwn opened #30 "GPU crash when searching for stuff"
Happens 100% of the time when searching something with more than 32 positive results. Most of the time when exceeding 24. Sometimes when exceeding 16.

[2022-03-31 00:04] cy33hc commented on #30
@f2pwn What games do you have in Vita Launcher and what were you search for. If possible, can you share your cache.db and config.ini

[2022-04-02 23:43] DaftOtter opened #31 "Is it possible to hide categories which I'm no using?"
Hello,

I was wondering if anyone knows how to hide categories that I'm not using.

For example, lets say I'm not using the Sega32x folder, and I have no games in there. Can I make it so this doesn't show up in the list of categories? Simply to tidy it up really...

Thanks

DaftOtter

[2022-04-03 05:23] cy33hc commented on #31
@DaftOtter Go into a category and then under global settings, there show be an option called "Show all Categories". Uncheck that and it should hide all categories without games.

[2022-04-03 05:23] #31 closed

[2022-04-10 22:31] C1fer opened #32 "PSP/PSX custom game titles reset after library re-scan"
If you set a custom name for a PSP or PSX game, it will only save that name until the app re-scans the categories.

Is there a way to store these custom names elsewhere? PSP ISO titles are all over the place, and it's not easy to rename the game title on the iso itself, since you'd have to edit the param.sfo.

[2022-04-11 09:35] snte opened #33 "[enhancement] Icon path for Bubbles"
Dear cy33hc,

first, thank you so much for the outstanding work with Vita Launcher. This really gives a second life for the Vita as a homebrew handheld, and user experience :)

One thing i would like to propose is if it would be possible to enhance the display of icons with game->type == TYPE_BUBBLE (especially PS1 Eboots), because these icon0.png are very low resolution. Maybe it would be possibl

[2022-04-11 19:30] rafaelferreira01 opened #34 "[Feature request] Support YoYo Loader games."

[2022-04-12 03:58] singmadan commented on #33
for PS1/PSP icons, you can replace icon0.png manually in the SMLAExxxx folder (ux0:data/SMLA00001/data).

[2022-04-13 18:54] snte commented on #33
Thanks, this is true for games in PSPEMU folder. But for PS1, PSP (and Vita) bubbles, the low-res pic0.png/icon0.png from ur0:appmeta are used. It would be nice to optionally be able to set an icon_path with custom images in config.ini, like for the other rom categories.

Here is the section in game.cpp#L846, near void LoadGameImage(Game *game), that sets the png for TYPE_BUBBLE:

[code]

[2022-04-18 02:44] NeonLightning opened #35 "can't run the sfo thing on non english games"
non english characters break it

[2022-04-18 06:04] cy33hc commented on #34
@rafaelferreira01 This is implemented in latest release. https://github.com/cy33hc/vita-launcher/releases/tag/latest. Closing

[2022-04-18 06:04] #34 closed

[2022-04-18 06:46] #27 closed

[2022-04-18 06:48] cy33hc commented on #30
@f2pwn Not able to reproduce. There is a max of 300 games that will be searched. If you can provide the info, that would like troubleshoot.

[2022-04-18 13:53] XargonWan commented on #31
Can you please put this option even when outside the categories?

[2022-04-19 04:36] cy33hc commented on #35
@NeonLightning You mean the extract_eboot_iso program?

[2022-04-20 00:47] rafaelferreira01 opened #36 "[Feature request] Per-game plugin activation (Adrenaline)"
On a real PSP (or Adrenaline) we can use a plugin called [Pergame](https://www.gamebrew.org/wiki/Pergame_Custom_PSP) to activate one or more plugins, depending on game.
With this plugin i can, for instance, activate the CWCheat plugin only while playing GTAVCS, and while playing other games the plugin will remain disabled.

I use Pergame with Adrenaline to launch PSP games with the working GePatch

[2022-04-20 01:08] rafaelferreira01 commented on #36
Idea:
Allow us to create a "game.txt" in the game folder. This file must contain only the specific plugins activated.

Like this:
`ms0:/seplugins/remasteredcontrols/tonyhawk_remastered.prx.prx 1`

While my the default game.txt  (the one in pspemu\seplugins\) look like this:
[code]
So, when launching a PSP game vita-launcher need to search for a "game.txt" in the game folder, if this file doesn't e

[2022-04-20 06:28] cy33hc commented on #36
@rafaelferreira01 When you boot a PSP game, there is a Boot settings screen when you can enable "Plugins". Have you try enabling it?

[2022-04-20 16:56] rafaelferreira01 commented on #36
@cy33hc Just tested with a couple of plugins. Pergame is the only plugin that won't work when launching a game from vita-launch.

[2022-04-21 00:27] cy33hc commented on #36
@rafaelferreira01 Can you try it with a different driver like NP9660 or March33

[2022-04-21 19:31] rafaelferreira01 commented on #36
@cy33hc None of them worked.

[2022-04-29 13:33] Casquall opened #37 "Livearea facelift?"
![2022-04-29-152402-415146](https://user-images.githubusercontent.com/25128195/165954477-445f5f67-1dbe-4f7a-a532-0ff32ae548f7.png)

[2022-05-03 04:55] XargonWan opened #38 "[Feature request] Full scan"
Is it possible to add an option on the main menu (not category menu) to scan the roms folders and download the thumbnails for ALL the emulators categories?

[2022-05-05 11:37] rafaelferreira01 commented on #38
This and we should have the option to check wich categories to scan before the scan.

[2022-05-09 19:28] Tantris13 opened #39 "How to disable update messages?"
How to turn off update messages?
I don't want to install an Adrenaline Bubble Manager - I don't need it right now. But every time you start the vita launcher, a message appears that without it it will not be possible to launch psp/etc games directly.
And the iTLS-ENSO install message - the launcher checks for the iTLS-ENSO installer bubble, not the installation. If the installer bubble is present,

[2022-05-13 01:19] cy33hc commented on #39
@Tantris13 At the moment, there's not option to disable the update message. Short term just install both bubbles. I'll add option to disable update message.

[2022-05-13 06:07] cy33hc commented on #33
@snte @singmadan This has being implemented in release 3.7. Read the release notes on how to name the icon files.

https://github.com/cy33hc/vita-launcher/releases/tag/latest

[2022-05-13 06:07] #33 closed

[2022-05-13 06:08] cy33hc commented on #30
@f2pwn @rafaelferreira01 Can you try update to latest release v3.7 and see if crash still happening.

[2022-05-13 06:10] cy33hc commented on #39
@Tantris13 This is implemented and released in v3.7. The warning of missing iTLS-enso and ABB will only occur **ONCE** only.

[2022-05-13 06:10] #39 closed

[2022-05-13 06:11] cy33hc commented on #35
@NeonLightning Any more info on this issue?

[2022-05-13 06:15] cy33hc commented on #32
@C1fer Is there a reason for re-scan? Is it to find new games?

[2022-05-14 03:26] cy33hc commented on #36
@rafaelferreira01 I'm starting to work on this feature, but I don't use plugins at all. I know in the PSP, there is a game.txt for PSP ISO games, also there is a pops.txt for PS1 (EBOOT) games. Does pops.txt exists in adrenaline? Also does the game.txt plugins apply to PSP Minis too?

[2022-05-14 17:55] rafaelferreira01 commented on #36
@cy33hc Nice! Yes, pops.txt exists and game.txt affects PSP Minis too.

[2022-05-14 18:52] rafaelferreira01 commented on #30
@cy33hc Updated to 3.7 and after about 50 searches i didn't faced any crashes.

[2022-05-14 18:58] rafaelferreira01 opened #40 "[Feature request] Option to close vita-launcher after launching a game."
Don't know if this is how it works but as vita-launcher uses AdrenalineLauncher and yoyo-launcher to launch the games to Adrenaline / Yoyo maybe it's possible to make then close vita-launcher before launching? Don't know how this would work with stuff that don't use a launcher (Retroarch, ports, etc) though.

[2022-05-15 07:41] cy33hc commented on #40
@rafaelferreira01 vita-launcher is already being closed before Adernaline/YoYo/RetroArch launcher is stared. PSVITA can't have 2 apps running at the same time.

[2022-05-15 08:01] cy33hc commented on #36
@rafaelferreira01 This is implemented in the latest release.

[2022-05-15 08:01] #36 closed

[2022-05-16 18:58] cy33hc commented on #30
@rafaelferreira01 @f2pwn I think the overclock helped with the crash, but I don't know why. I think there is a problem with imgui-vita2d library. It's the same problem with vita-ftp-client had problem with imgui-vita2d with random GPU crash, but after I switched to imgui-vita(opengl) the random crash is not happen.

[2022-05-16 18:58] #30 closed

[2022-05-16 20:42] rafaelferreira01 commented on #36
You're the man, it's working like a charm! There's a couple of things I noticed though:
1. When we made some change on the pergame plugins (enabling or disabling) and press Ok to launch the game, AdrenalineLauncher tries to launch the game without success.
2. About the plugin list (global or pergame). When we press down the cursor always go to below delete button and when we press up it goes to th

[2022-05-16 20:50] rafaelferreira01 commented on #40
@cy33hc Sorry, i wasn't very clear.
I'm talking about automatically "peel off" vita-launcher from LiveArea.

[2022-05-16 21:09] rafaelferreira01 opened #41 "Boot Settings (Adrenaline) not being saved."
Don't know if this is designed but when we change any setting (Boot Settings tab) before launching a PSP or PSX game the settings are not being saved, so every time we open the game we have to make the changes.

[2022-05-17 17:14] cy33hc commented on #41
@rafaelferreira01 Can you share a video? I tried with multiple games and they are saved.

[2022-05-17 17:17] cy33hc commented on #40
@rafaelferreira01 That's a vita thing. I can't do that.

[2022-05-17 19:32] rafaelferreira01 commented on #40
@cy33hc Oh, that's fine, is not even important, just something that occurred to me.

[2022-05-17 19:48] rafaelferreira01 commented on #41
@cy33hc Here it is! If you need anuthing more just say.
https://user-images.githubusercontent.com/78885729/168897653-881ac2e1-9ab2-4daa-9363-af4e718fd251.mp4

[2022-05-17 19:51] rafaelferreira01 commented on #11
@cy33hc Maybe use the right analog to change pages?

[2022-05-17 19:57] cy33hc commented on #41
@rafaelferreira01 Is that PSP game in EBOOT or ISO format?

[2022-05-17 19:59] rafaelferreira01 commented on #41
CSO.

[2022-05-17 20:02] rafaelferreira01 commented on #41
@cy33hc Just tested a ISO and a EBOOT too, none of then are saving the settings.

[2022-05-17 20:31] cy33hc commented on #41
@rafaelferreira01 can you include the cache.db and the game_settings.db file from the folder ux0:data/SMLA00001

[2022-05-17 20:34] rafaelferreira01 opened #42 "Adrenaline launcher can't launch a game after changing per game plugins"
When we make some change on the per game plugins (enabling or disabling) and press Ok to launch the game the changes are saved (we can see that if we launch vita-launcher again) but AdrenalineLauncher won't launch the game. We have to open vita-launch again to be able to launch the game successfully. That applies to PSP and PSX games.

https://user-images.githubusercontent.com/78885729/168904555-7

[2022-05-17 20:44] rafaelferreira01 opened #43 "Plugin list cursor changing columns."
When we're browsing through the plugins and we press down, the cursor always go the delete column and when we press up it goes to the checkbox column. That applies to PSP Plugins and POPs Plugins, per game and global.

https://user-images.githubusercontent.com/78885729/168906292-feb7095d-32ff-42ae-99ab-44e6a3eec3ea.mp4

[2022-05-17 21:01] cy33hc commented on #41
@rafaelferreira01 Found the issue. I will create a fix for this.

[2022-05-17 21:20] rafaelferreira01 opened #44 "[Feature request] Close windows with a button"
Right now we can hit Ok or Cancel to close windows (core selection, boot settings from PSP or PSX, Category settings, etc). It would be more fluid if we could, also, close these windows by pressing a button (circle?) and maybe without saving, like the present Cancel button.

[2022-05-18 03:18] #40 closed

[2022-05-18 03:29] cy33hc commented on #41
@rafaelferreira01 Fixed in latest release

[2022-05-18 03:29] #41 closed

[2022-05-18 03:30] cy33hc commented on #43
@rafaelferreira01 Improved the plugins navigation. Default selects the checkbox instead of "Delete" button

[2022-05-18 03:30] #43 closed

[2022-05-18 03:31] cy33hc commented on #42
@rafaelferreira01 This is probably related the issue #41 . Please check again after update and let me know if issue persist.

[2022-05-18 03:34] cy33hc commented on #44
@rafaelferreira01 Unfortunately, all buttons are already bound to per-defined actions. Sorry, I will have to reject this.

[2022-05-18 03:34] #44 closed

[2022-05-18 14:27] rafaelferreira01 commented on #39
@cy33hc I dont have iTLS-enso or ABB and i see this popup every time i start vita-launcher.
![2022-05-18-111826](https://user-images.githubusercontent.com/78885729/169065572-9685343a-5b7e-49fb-90b9-8bd3b895a61a.jpg)

[2022-05-18 17:11] cy33hc commented on #42
@rafaelferreira01 I saw in your previous videos, you didn't have this problem. Was there something you did later that caused this? Just trying to see what happened to trace down the issue.

[2022-05-18 17:14] rafaelferreira01 commented on #42
@cy33hc I never changed this settings before so i don't know if i had this problem. I only noticed it now while messing with plugins. Should i try a previous version?

[2022-05-18 17:41] rafaelferreira01 commented on #42
@cy33hc
I've always had this problem with pergame plugins.

[2022-05-19 01:45] rafaelferreira01 commented on #41
@cy33hc Solved!

[2022-05-19 01:58] cy33hc commented on #42
@rafaelferreira01 OK. Can you do this. When it won't boot, don't try to boot the game again. Instead goto VitaShell and grab this file for me "ux0:app/ADRLANCHR/data/boot.bin"

[2022-05-19 03:44] cy33hc commented on #42
@rafaelferreira01 Fixed in latest release.

[2022-05-19 03:44] #42 closed

[2022-05-20 17:08] rafaelferreira01 opened #45 "[Feature request] Add support for EasyRPG games"

[2022-05-20 17:10] rafaelferreira01 opened #46 "Update window every time i open vita-launcher."
I dont have iTLS-enso or ABB and i see this popup every time i start vita-launcher.
![169065572-9685343a-5b7e-49fb-90b9-8bd3b895a61a](https://user-images.githubusercontent.com/78885729/169578611-2f331eed-93d5-49c7-9499-521a258d9560.jpg)

[2022-05-21 07:09] cy33hc commented on #46
@rafaelferreira01 fixed.

[2022-05-21 07:09] #46 closed

[2022-05-22 09:32] cy33hc commented on #45
@rafaelferreira01 Unfortunately, EasyRPG doesn't support booting games externally. This requires some code changes in the EasyRPG code itself. I've submitted some code changes for this function. So I can't do anything until code is accepted by the EasyRPG team.

https://github.com/EasyRPG/Player/pull/2789

[2022-05-22 15:35] rafaelferreira01 commented on #45
That's sad. I hope this can be implemented someday!

[2022-05-25 08:25] cy33hc commented on #45
@rafaelferreira01 This is implemented. You need to get the latest nightly build of EasyRPG to work with Vita-launcher. See release notes.

[2022-05-25 08:26] #45 closed

[2022-06-01 15:30] #32 closed

[2022-06-03 20:42] gmartins-henrique opened #48 "Duplicated PSP ROMs"
Some ROMs are duplicated even after rescaning, and there is only one ISO of the game

[2022-06-05 23:05] cy33hc commented on #48
@gmartins-henrique Do you have PSP Bubbles created with Adrenaline Bubble Manager? Those are usually what you see as duplicates. You can hide them.

[2022-06-08 21:20] rafaelferreira01 opened #49 "[Feature request] Dynamic title-ID for games that use launchers."
When using reVita the remaps are saved in profiles, the profile is named after the game title-ID, so when we create a configuration for HotlineMiame, for instance, the profile is named PCSE00249. The problem is when we create a remap for games that use Adrenaline.
Since these games are booted with the same launcher, the remap will be called ADRLANCHR for every game, so we won't be able to create r

[2022-06-08 21:23] rafaelferreira01 opened #50 "[Feature request] Change language of the game"
Is there a way to implement [forcelang](https://github.com/xdanieldzd/forcelang) functionality so we can force the game to boot in a desired language (if avaliable).

[2022-06-21 17:44] NeonLightning commented on #35
honestly haven't messed with it since. and don't recall but i believe that was what i meant.

[2022-06-24 06:31] cy33hc commented on #48
@gmartins-henrique Thx. Yes, there is a bug. It's finding any file that with extension "PBP" and creating a entry. I'll fix it by constraint it to EBOOT.PBP only.

[2022-06-25 07:26] cy33hc commented on #48
@gmartins-henrique Fixed on latest release.

[2022-06-25 07:26] #48 closed

[2022-07-11 15:51] rufotheone-fr opened #51 "Categories fixes and additions"
Hello.
First of all, I want to thank you for your amazing launcher app. It a pure gem to manage and launch games without going to retroarch or adrenaline.

I would like to point out some things:

- "Bandai" for a category name is kinda misleading because this manufacturer has created numerous devices from addon (Sufami Turbo on SNES) to consoles (Playdia, WonderSwan etc)
1) we should rename it to

[2022-07-29 22:18] HollowFang1 commented on #51
Is it possible to do a Catagory for Doom,Quake,Quake II.
I'm hoping you can make new individual icons that are linked to the same program but launch with command line's that make them diffrent.

Example : Quake from Spasticquake launch In game console command -game “the name of the mod folder”  creating a game shortcut with -game parameter IE -Impel - mapname well load the impel mod from the start

[2022-08-03 11:24] Highthorn90 opened #52 "Homebrew category / hiding apps crashes the launcher"
I tested this extensively and I found out that hiding multiple apps from the homebrew category makes the launcher crash and keeps on crashing when you relaunch it.
The only fix is to remove the config.ini file.

[2022-08-04 00:23] cy33hc commented on #52
@Highthorn90 Thx. I will look into it.

[2022-08-06 02:15] cy33hc commented on #52
@Highthorn90 I'm not able to reproduce issue. How many apps did you hide? There is a max of about 200 that can be hidden.

[2022-08-07 16:05] Highthorn90 commented on #52
@cy33hc thanks for looking into it.
I had another look and now it only happens for me when I use multi select to try and hide multiple apps at once.
Hiding them one by one works fine now all of a sudden.
Thanks for your work, I love the launcher.

[2022-08-07 16:05] Highthorn90 commented on #52
``

[2022-08-07 19:01] brozefian opened #53 "[Feature request] Play more then 1 bgm"
You can add multiple, but it will keep repeating the one song it choose at start up.

Was hoping on a way that it keeps playing from the list instead of playing 1 song.

Thank you

[2022-08-08 22:31] cy33hc commented on #52
@Highthorn90 Thx. I didn't try multi-select. I will look into this.

[2022-08-23 20:50] JohnGhostly opened #54 "[feature request] Grid rows of 1"
I might be the only person who wants this but an option for 1 row grids would be nice for a switch style interface

[2022-09-12 01:17] sffan82 opened #55 "New Flycast app"
How can I configure it to run games from the new stand alone Flycast app instead of running through retroarch?

[2022-09-14 00:31] cy33hc commented on #55
@sffan82 It isn't supported yet.

[2022-09-24 19:28] cy33hc commented on #55
@sffan82 New release updated to launch dreamcast games via new flycast app

[2022-09-24 19:28] #55 closed

[2022-09-24 22:23] sffan82 commented on #55
Awesome. Well done.

[2022-10-15 14:29] Keisukegames opened #56 "How to setup Vita-Laucher to launch Adrenaline ISO and EBOOT directly"
This video has been deleted. I want to know the content of this video.

6- How to setup Vita-Laucher to launch Adrenaline ISO and EBOOT directly. Here is require VPK to install to make use of direct Adrenaline booting.
https://youtu.be/wkubbIsd8DY